include Kamaelia/Support/*
include Kamaelia/Support/*/*
include Docs/*
include Docs/*/*
include COPYING
include AUTHORS
include CHANGELOG
include Test/*
include Test/*/*
include Kamaelia/afortune.pl
include Kamaelia/debug.conf
include Examples/*/*/*/*/*/*/*
include Examples/*/*/*/*/*/*
include Examples/*/*/*/*/*
include Examples/*/*/*/*
include Examples/*/*/*
include Examples/*/*
include Examples/*
include Tools/*/*/*
include Tools/*/*
include Tools/*
