<html><head><meta name="qrichtext" content="1" /></head><body style="font-size:10pt;font-family:URW Gothic L">
<p><span style="font-size:24pt;font-weight:600">Kamaelia.Chassis.Carousel.Carousel</span></p>
<p align="right"><span style="font-size:16pt">Here we go again, and again,...</span></p>
<p><span style="font-size:14pt;font-weight:600">Descripton</span></p>
<p>[[axon.interfacedef] <span style="font-weight:600">Inboxes:</span></p>
<ul type="disc"><li><span style="font-family:Courier">inbox</span> - passthrough to child</li>
<li><span style="font-family:Courier">next</span> - where we receive requests to replace the child component</li>
<li><span style="font-family:Courier">control</span> - where we recieve shutdown requests from outside</li>
<li><span style="font-family:Courier">_control</span> - Expect 'producerFinished' or 'shutdownMicroprocess' from child</li></ul>
<p><span style="font-weight:600">Outboxes:</span></p>
<ul type="disc"><li><span style="font-family:Courier">outbox</span> - passthrough from child</li>
<li><span style="font-family:Courier">signal</span> -</li>
<li><span style="font-family:Courier">_signal</span> - For sending 'shutdownMicroprocess' to child</li>
<li><span style="font-family:Courier">requestNext</span> - For requesting new child component</li></ul>
<p>]This chassis component is for making a carousel of components. It gets its name from a broadcast carousel - where a programme (or set of programmes) is broadcast one after another, often on a loop. Alternatively, think of public information screens which display a looping carousel of slides of information.</p>
<p>If this makes no sense, suppose you want to read data from a sequence of files - one after another. Provide a carousel with a filereader component and a source of filenames, and it will make a new filereader for each file in turn, outputting their data one after another. The carousel automatically asks the filename source for a new item when its current child signals that it has finished.</p>
<p>You gain reusability from things that are not directly reusable and normally come to a halt.</p>
<p><span style="font-size:14pt;font-weight:600">Examples</span></p>
<p>Reading from a sequence of files</p>
<p>1. Write a factory function that takes a single argument and returns a new component for the carousel:</p>
<ul type="disc"><div>[[pre]def makeFileReader(filename):<br />    return ReadFileAdapter(filename = filename, ...other args... ) ]</div></ul>
<p>2. Make the carousel giving it the factory function:</p>
<ul type="disc"><div>[[pre] carousel = Carousel( componentFactory = makeFileReader )]</div></ul>
<p>3. Make a source of instructions for the carousel: (in this case, a source of filenames)</p>
<ul type="disc"><div>[[pre]filenames = Chooser( [&quot;file1&quot;,&quot;file2&quot;,&quot;file3&quot;, ... ] )]</div></ul>
<p>4. Wire the source and carousel together:</p>
<ul type="disc"><div>[[pre]filecarousel = JoinChooserToCarousel( chooser = filenames, carousel = carousel ) ]</div></ul>
<p>5. Activate:</p>
<ul type="disc"><div>[[pre]filecarousel.activate()]</div></ul>
<p><span style="font-size:14pt;font-weight:600">How does it work?</span></p>
<p>The carousel chassis creates and encapsulates (as a child) the component you want it to, and lets it get on with it.</p>
<p>Anything sent to the carousel's &quot;inbox&quot; inbox is passed onto the child component. Anything the child sends out appears at the carousel's &quot;outbox&quot; and &quot;signal&quot; outboxes.</p>
<p>If the child sends an <span style="font-family:Courier">Axon.Ipc.shutdownMicroprocess</span> or <span style="font-family:Courier">Axon.Ipc.producerFinished</span> message then the carousel gets rid of that component and sends a &quot;NEXT&quot; message to its &quot;<span style="font-family:Courier">requestNext</span>&quot; outbox.</p>
<p>Another component, such as a Chooser, should respond to this message by sending the new set of arguments (for the factory function) to the carousel's &quot;next&quot; inbox. The carousel then uses your factory function to create a new child component. And so the cycle repeats.</p>
<p>If the argument source needs to receive a &quot;NEXT&quot; message before sending its first set of arguments, then set the argument make1stRequest=True when creating the carousel.</p>
<p>You can send new orders to the <span style="font-family:Courier">next</span> inbox at any time. The carousel will immediately unwire that child (and create the new one) and ask the old child to shut down by sending an <span style="font-family:Courier">Axon.Ipc.shutdownMicroprocess</span> message to its <span style="font-family:Courier">control</span> inbox.</p>
<p>The carousel will shutdown in response to an <span style="font-family:Courier">Axon.Ipc.shutdownMicroprocess</span> or <span style="font-family:Courier">Axon.Ipc.producerFinished</span> message. It will also terminate any child component in the same way as described above.</p>
<p dir="ltr"><span style="font-size:14pt;font-weight:600">Pydoc Style Docs</span></p>
<p>[[include][file=Components/pydoc/Kamaelia.Chassis.Carousel.Carousel.html] ]</p>
<p></p>
<p>class Carousel(Axon.Component.component)</p>
<p>A carousel component that makes child components one at a time and lets them do their stuff. Replacing them when they terminate or if requested to do so.</p>
<p><span style="font-weight:600">Inboxes:</span></p>
<ul type="disc"><li>inbox - passthrough to child's inbox &quot;inbox&quot;</li>
<li>next - where we recieve requests to replace the child component</li>
<li>control - where we recieve shutdown requests from outside</li>
<li>_control - internal use : to recieve 'producerFinished' or 'shutdownMicroprocess' from child</li></ul>
<p><span style="font-weight:600">Outboxes:</span></p>
<ul type="disc"><li>outbox - passthrough from child's outbox &quot;outbox&quot;</li>
<li>signal -</li>
<li>_signal - internal use: for sending 'shutdownMicroprocess' to child</li></ul>
<li type="disc">requestNext - for requesting new child component</li>
<p><span style="font-weight:600">All methods, except __init__ are private implementation details of the component</span></p>
<p><span style="font-weight:600">__init__(self, componentFactory, make1stRequest=False)</span></p>
<ul type="disc"><li>__init__(componentFactory)</li>
<li>__init__(componentFactory,make1stRequest=True)</li>
<li>componentFactory(argument) -&gt; new component<br />factory function for creating a new child according to specified arguments</li>
<li>make1stRequest = True<br />Carousel will, immediately after activation, send a &quot;NEXT&quot; message to its &quot;requestNext&quot; outbox. Otherwise the carousel just waits.</li></ul>
<p><span style="font-weight:600">handleFinishedChild(self)</span></p>
<p>Unplugs the child if a shutdownMicroprocess or producerFinished message is received from it. Also sends a &quot;NEXT&quot; request if one has not already been sent.</p>
<p dir="ltr"><span style="font-weight:600">handleNewChild(self)</span></p>
<p>If data received on &quot;next&quot; inbox, removes any existing child and creates and wires in a new one.</p>
<p>Received data is passed as an argument to the factory function (supplied at initialisation) that creates the new child.</p>
<p><span style="font-weight:600">main(self)</span></p>
<p>Main loop</p>
<p dir="ltr"><span style="font-weight:600">requestNext(self)</span></p>
<p>Sends 'next' out the 'requestNext' outbox</p>
<p><span style="font-weight:600">shutdown(self)</span></p>
<p>Returns True if a shutdownMicroprocess or producerFinished message was received.</p>
<p><span style="font-weight:600">unplugChildren(self)</span></p>
<p>Sends 'shutdownMicroprocess' to children and unwires and disowns them.</p>
<p></p>
</body></html>
