### Testing template. No html/xml is being used, only the variables used, line by line
### each line should be stripped due to tabulation
<TMPL_VAR name>

<TMPL_VAR generator ESCAPE="HTML">

<TMPL_IF feedtype>
	<TMPL_VAR feed ESCAPE="HTML">

	<TMPL_VAR channel_title_plain ESCAPE="HTML">

	<TMPL_VAR feedtype>
</TMPL_IF>

<TMPL_LOOP Items>
	<TMPL_IF new_date>
		<TMPL_VAR new_date>
	</TMPL_IF>

	<TMPL_IF new_channel>
		<TMPL_VAR channel_link ESCAPE="HTML">

		<TMPL_VAR channel_title_plain ESCAPE="HTML">

		<TMPL_VAR channel_name>

		<TMPL_IF channel_face>
			<TMPL_VAR channel_face ESCAPE="HTML">

			<TMPL_VAR channel_facewidth ESCAPE="HTML">

			<TMPL_VAR channel_faceheight ESCAPE="HTML">
		</TMPL_IF>
	</TMPL_IF>
	<TMPL_VAR id>

	<TMPL_IF channel_language>
		<TMPL_VAR channel_language>
	</TMPL_IF>

	<TMPL_IF title>
		<TMPL_IF title_language>
			<TMPL_VAR title_language>
		</TMPL_IF>

		<TMPL_VAR link ESCAPE="HTML">

		<TMPL_VAR title>
	</TMPL_IF>

	<TMPL_IF content_language>
		<TMPL_VAR content_language>
	</TMPL_IF>

	<TMPL_VAR content>

	<TMPL_VAR link ESCAPE="HTML">

	<TMPL_IF author>
		<TMPL_VAR author>
	</TMPL_IF>

	<TMPL_VAR date>

	<TMPL_IF category>
		<TMPL_VAR category>
	</TMPL_IF>
</TMPL_LOOP>

<TMPL_LOOP Channels>
	<TMPL_VAR url ESCAPE="HTML">

	<TMPL_IF link>
		<TMPL_VAR link ESCAPE="HTML">
	</TMPL_IF>

	<TMPL_IF message>
		<TMPL_VAR message ESCAPE="HTML">
	</TMPL_IF>

	<TMPL_UNLESS message>
		<TMPL_VAR title_plain ESCAPE="HTML">
	</TMPL_UNLESS>

	<TMPL_VAR name>
</TMPL_LOOP>

<TMPL_VAR date>
