#
# Kamaelia: Greylist
#

# Port number that the greylist server listens on
port = 25

# Servername that we tell to people who connect to us
servername = mail.example.org

# Server software we report to people connecting
serverid = Kamaelia-SMTP 1.0

# IP Address of the real SMTP server that handles local delivery. 
# (We're just a proxy after all)
smtp_ip = 192.168.0.25

# Port number the real SMTP server is listening on
smtp_port = 8025

# How long we allow a connection to be inactive before dropping the
# connection
inactivity_timeout = 60

# Main logfile
greylist_log = "/var/log/greylist.log"

# Logfile useful during debugging
greylist_debuglog = "/var/log/greylist-debug.log"

#---------------------------------------------------------------------------
# List of IP addresses that are allowed to send to anywhere
# Put each IP address on its own line, indented
#
allowed_senders:
    127.0.0.1

#---------------------------------------------------------------------------
# List of subnets (IP prefixes to be exact) that are allowed to send to
# anywhere. 
#
# Put each subnet/IP prefix on its own line, indented
#
allowed_sender_nets:
    192.168.2
#    10
#    172.16


#---------------------------------------------------------------------------
# List of domains for which we will _consider_ accepting email for
# Put each domain on its own line, indented
#
allowed_domains:
    localdomain
    example.org

#---------------------------------------------------------------------------
# Standard triples which always allows delivery to domains we consider
# accepting for.
#
# Format:
#    IP address, mail-from id, recipient id
#
# Uncomment the following lines.
#whitelisted_triples:
#     123.45.67.89 <sender@somedomain> <user@localdomain>

#---------------------------------------------------------------------------
# Some non-standard triples for which we always allow delivery to domains we
# consider accepting for.
#
# Specific format is:
#
#    claimed sender name, IP prefix, recipient
#
# (These may take simple wildcards at a later date)
#
# Uncomment the following lines!
#whitelisted_nonstandard_triples:
#    mx-out.wellknownsitebook.com 204.15.20 <user@localdomain>
#    mx-out.wellknownsitebook.com 204.15.20 <user2@localdomain>
#    fallbackmx-out.wellknownsitebook.com 204.15.20 <user@localdomain>
#    fallbackmx-out.wellknownsitebook.com 204.15.20 <user2@localdomain>

